APP_NAME=Laravel
APP_ENV=local
APP_KEY=base64:iWkmoImkv0fN+wL/74CzcR1Bl5RXaRZnqolff1SbWn0=
APP_DEBUG=true
APP_URL=http://nobatdehi.test/

LOG_CHANNEL=stack
LOG_LEVEL=debug
LOG_SLACK_WEBHOOK_URL=https://hooks.slack.com/services/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

DEFAULT_MAP_API_KEY=""

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=laravel_convert_test
DB_USERNAME=root
DB_PASSWORD=


BROADCAST_DRIVER=log
CACHE_DRIVER=file
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

MEMCACHED_HOST=127.0.0.1

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=mailhog
MAIL_PORT=1025
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS=null
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=`
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=

PUSHER_APP_ID="c6da856d-1eae-4594-bc5e-5cb2ebf4cd10"
PUSHER_APP_KEY="20D0AA9566FA327405898FD06010E471F75F8A48D55E47E3DB4601D02279C321"
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

SYSTEM_ZARINPAL_MERCHANT_ID="c25533bc-00b5-11e6-b1b7-005056a205be"
SYSTEM_ZARINPAL_MODE="normal"
IGNITION_EDITOR="vscode"
ZARINPAL_MERCHANT_ID='4eca2e4d-3db7-4011-b3b2-8d474f04f566'

# delete the cache for appointment list if its true ;
APPOINTMENT_SANDBOX=false

FIREBASE_CREDENTIALS=storage/app/mata-ffdbe-a4fe27f15c93.json

OLD_DB_DATABASE = "laravel_appointment_old"
