@import "components";
@import "layout";
@import "slider";
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
   font-family: 'iranSans';
   font-weight: 500;
   src: url('../assets/fonts/IRANSansXFaNum-Regular.ttf') format('truetype'),
      url('../assets/fonts/IRANSansXFaNum-Regular.woff') format('woff'),
      url('../assets/fonts/IRANSansXFaNum-Regular.woff2') format('woff2'),
      url('../assets/fonts/IRANSansXFaNum-Regular.otf') format('otf');
}

@font-face {
   font-family: 'iranSans';
   font-weight: 700;
   src: url('../assets/fonts/IRANSansXFaNum-Bold.ttf') format('truetype'),
      url('../assets/fonts/IRANSansXFaNum-Bold.woff') format('woff'),
      url('../assets/fonts/IRANSansXFaNum-Bold.woff2') format('woff2'),
      url('../assets/fonts/IRANSansXFaNum-Bold.otf') format('otf');
}

$font: 'iranSans', sans-serif;

@layer utilities {
   .container {
      @apply px-5 lg:px-8;
   }
}

*,
*::before,
*::after {
   background-repeat: no-repeat;
   font-family: $font;
}

@layer base {
   body {
      position: relative;
      overflow-x: hidden;
      min-height: 100vh;
   }

   img {
      user-drag: none;
      -o-user-drag: none;
      -moz-user-drag: none;
      -webkit-user-drag: none;
      user-select: none;
      -o-user-select: none;
      -moz-user-select: none;
      -webkit-user-select: none;
   }

   textarea {
      font-family: $font;
   }


   select {
      appearance: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      -o-appearance: none;
      background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3E%3Cpath stroke='%236B7280' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='m6 8 4 4 4-4'/%3E%3C/svg%3E");
      background-position: left 0.5rem center;
      background-repeat: no-repeat;
      background-size: 1.5em 1.5em;
      padding-right: 1rem;
      cursor: pointer;
      -webkit-print-color-adjust: exact;
   }

   // adding pointer cursor to every buttons
   button,
   input[type="submit"],
   input[type="reset"],
   input[type="button"] {
      @apply cursor-pointer;
   }

   /* Hide default button of input num type in Chrome, Safari, Edge, Opera */
   input::-webkit-outer-spin-button,
   input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
   }

   /* and Firefox */
   input[type="number"] {
      -moz-appearance: textfield;
   }

   // Remove highlight blue color when click on link or botton in the mobile version
   button,
   input[type="submit"],
   input[type="reset"],
   input[type="button"],
   a {
      -webkit-tap-highlight-color: transparent;
      -webkit-touch-callout: none;
   }

   // Remove hover effects when button is disabled
   button:disabled,
   input[type="submit"]:disabled,
   input[type="reset"]:disabled,
   input[type="button"]:disabled {
      @apply pointer-events-none;
   }
}

/* change style of scrollbar */
.no_scrollbar::-webkit-scrollbar {
   @apply hidden;
}
.fixed-icons {
    position: fixed;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 20px;
    z-index: 500;
}

.fixed-icons .icon-link {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px; /* Rounded square shape for app-like icons */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.fixed-icons .icon-link:hover {
    transform: scale(1.1);
}

/* WhatsApp Icon */
.fixed-icons .whatsapp {
    background-color: #25D366; /* WhatsApp green */
}

.fixed-icons .whatsapp svg {
    fill: #ffffff; /* White icon inside the green background */
}

/* Instagram Icon */
.fixed-icons .instagram {
    background: radial-gradient(circle at 30% 30%, #f09433, #e6683c, #dc2743, #cc2366, #bc1888); /* Instagram gradient */
}

.fixed-icons .instagram svg {
    fill: #ffffff; /* White icon inside the Instagram gradient */
}

.fixed-icons svg {
    width: 35px;
    height: 35px;
}
/* Media Query for Mobile Devices */
@media (max-width: 768px) {
    .fixed-icons {
        left: 20px;
        right: auto;
        top: auto;
        bottom: 20px;
        transform: none;
        flex-direction: row;
        gap: 10px;
    }

    .fixed-icons .icon-link {
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }

    .fixed-icons svg {
        width: 25px;
        height: 25px;
    }
}
@media (min-width: 1024px) {
    .main-slider-with-logo {
        //background-image: url("https://pezeshkam.com//storage/logo/TG6lA1S89XkTUL7kWE0hn3BIfnjg3SeaZAmgpiRb.png");
        //background-repeat: no-repeat;
        //background-position: right 100px; /* Set both x and y positions here */
        //background-size: 300px;
    }
}

/* Hide logo on screens smaller than 1024px */
@media (max-width: 1023px) {
    .main-slider-with-logo {
        background-image: none;
    }
}
